.page-main__tip {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
  }

  .page-main__tip {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px 71px 14px;

    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: $orange;

    border: 2px solid $orange;
    border-radius: 25px / 50%;
  }
}
