.programs__wrapper {
  min-width: $mobile-width;
  padding-top: 60px;
  padding-bottom: 170px;

  overflow-x: hidden;
}

.programs__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: $light-blue;
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  width: 81.25%;
  max-width: 320px;
  margin-right: 15px;

  box-shadow: 0 3px 10px 0 rgba(black, 0.2);
}

.programs__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.programs__image {
  object-fit: cover;
}

.programs__link-title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  padding: 30px;

  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: white;

  background-color: rgba(black, 0.5);
}

@media (min-width: $tablet-width) {
  .programs {
    width: 100%;
  }

  .programs__wrapper {
    padding-top: 100px;
    padding-bottom: 135px;
  }

  .programs__title {
    margin-bottom: 80px;

    font-size: 24px;
  }

  .programs__list {
    width: 100%;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }

  .programs__item {
    max-width: 304px;
    margin: 0;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .programs__link-title {
    font-size: 20px;
  }
}

// @media (min-width: $decktop-width) {

// }
